<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

{% load static %}

</style>

<body>

<h2>Coverage info for gene: {{view_info.gene}}</h2>

<div>
    <h3>Settings:</h3>
    Coverage threshold: {{view_info.cov_threshold}}
    <br>
    More info on gene : <a href="https://www.ncbi.nlm.nih.gov/nuccore/{{view_info.gene}}"> Here </a>
</div>
<br>

<div id="table1" style="float: left;">
    <h2>Coverage over threshold</h2>
    <table id="myTable">
      <tr>
          {% for col in exon_cot_row %}
          <th>{{col}}</th>
          {% endfor %}

      </tr>
        {% for sample_list in cot_matrix %}
        <tr>
            {% for sample_col in sample_list %}

            <th style="background-color:rgba(255,0,0,{{sample_col.cot_perc}});">{{sample_col.cot}}</th>

            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>


<div id="table2" style="float: right;">
    <h2>Average coverage</h2>
    <table id="myTable">
      <tr>
          {% for col in exon_cot_row %}
          <th>{{col}}</th>
          {% endfor %}

      </tr>
        {% for sample_list in cot_matrix %}
        <tr>
            {% for sample_col in sample_list %}

            <th style="background-color:rgba(255,0,0,{{sample_col.cot_perc}});">{{sample_col.avc}}</th>

            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>

</body>