<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Select settings and annotation</h2>

<form action="" method="post">
    {% csrf_token %}
    <label for="coverage_threshold">Coverage threshold: </label>
    <input id="coverage_threshold" type="text" name="coverage_threshold" value="16">

    <br>
    <label for="anno_selection">Annotation: </label>
    <select id="anno_selection" name="anno_selection">

        {% for anno in anno_list %}
            <option value="{{anno}}">{{anno}}</option>
        {% endfor %}

    </select>

    <br>

    <input type="submit" value="OK">
</form>

</body>
</html>