<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holmes Homepage</title>
</head>
<body>

{% load static %}

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src='https://cdn.rawgit.com/nicgirault/circosJS/v2/dist/circos.js'></script>

<div>
    <h1>
        Holmes Analytics Platform
    </h1>

</div>

<div>
    <h2>Current data info</h2>
    <p>
        Information on the data currently loaded into the system.
    </p>
    <p>
        Loaded genome: {{ref_files.genome }}
        <br>
        Loaded annotation: {{ ref_files.annotation }}
    </p>
    <p>
        <h3>Only the custom track is active</h3>
        Loaded gene list: {{custom_tracks.gene_list}}
        <br>
        Loaded custom track: {{custom_tracks.custom_annotation}}
    </p>
</div>

<div>
    <h2>Menu</h2>
    <a href="{% url 'coverageSummaryGene' %}">Sample coverage</a>
    <br>
    <a href="{% url 'coverageSummary' %}">Per gene coverage</a>
    <br>
    <a href="{% url 'subNetworks' %}">Subnet page</a>

    <br>
    <br>
    <br>
    <a href="{% url 'getGeneSubset' %}">Create custom gene annotation from list</a>
</div>

</body>
</html>