{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src='https://cdn.rawgit.com/nicgirault/circosJS/v2/dist/circos.js'></script>

<div >
    <div>
        <h1>
            Holmes Analytics Platform
        </h1>

    </div>

    <div>
        <h2>Current data info</h2>

            <h3>Information on the data currently loaded into the system.</h3>
                <ul>
                    <li>Loaded genome: {{ref_files.genome }}</li>
                    <li>Loaded annotation: {{ ref_files.annotation }}</li>
                </ul>

            <h3>Only the custom track is active</h3>
                <ul>
                    <li>Loaded gene list: {{custom_tracks.gene_list}}</li>
                    <li>Loaded custom track: {{custom_tracks.custom_annotation}}</li>
                </ul>

    </div>

    <div>
        <h2>Menu</h2>
        <a href="{% url 'coverageSummaryGene' %}">Sample coverage</a>
        <br>
        <a href="{% url 'coverageSummary' %}">Per gene coverage</a>
        <br>
        <a href="{% url 'subNetworks' %}">Subnet page</a>

        <br>
        <br>
        <br>
        <p>Click the link bellow to create a new custom track from the loaded gene list</p>
        <a href="{% url 'getGeneSubset' %}">Create custom gene annotation from list</a>
    </div>
</div>
{% endblock %}